.header {
  position: fixed;
  z-index: 999;

  display: flex;
  width: 100%;
  align-items: center;
  height: 71px;

  border-bottom: 1px solid var(--gray);
  background-color: var(--secondary);

  &__container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%
  }

  &__search {
    margin: 0 10px 0 20px;
  }

  &__nav {
    display: flex;
    flex: 1;
    height: 100%;
  }
}
