.newestItems {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__subtitle {
    width: 100%;
    margin-bottom: 24px;

    font-size: 26px;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    line-height: 30px;
    color: var(--paleBlack);
    text-decoration: none;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >div {
      width: 260px;
      margin-bottom: 37px;
    }
  }

  &__showMore {
    display: flex;
    align-items: center;

    font-family: 'Roboto Medium', sans-serif;
    font-size: 17px;
    color: var(--paleGray);
    text-decoration: none;
  }

  &__navArrow {
    margin-left: 4px;
  }
}
