@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), url('../common/fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), url('../common/fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Roboto Bold'), url('../common/fonts/Roboto-Bold.ttf') format('ttf');
}

:root {
  --primary: #000;
  --secondary: #FFF;
  --gray: #d6e6e4;
  --darkGray: #a6a6a6;
  --paleBlack: #2e2e2e;
  --paleGray: #9b9b9b;
  --lightGray: #f8f8f8;
  --dirtyGray: #e0e0e0;
  --nastyGray: #848484;
  --washedGray: #e2e2e2;
  --lightBlue: #1d9bc9;
  --vkBlue: #597DA3;
  --accent-green: #63bb00;
  --primaryOpacity: rgba(0, 0, 0, 0.7);
  --onyx: #242424;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

button {
  cursor: pointer;
}

.input-focused {

  &:focus {
    outline: none;
    border: 1px solid var(--primary);
    border-radius: 2px;
  }
}

@media (min-width: 1240px) {
  .container {
    width: 1160px;
  }
}
